:root {
    --primary-color: rgb(139, 0, 0); /* Dark Red */
    --secondary-color: rgb(225, 195, 100); /* Light Tan */
    --accent-color1: rgb(34, 34, 34); /* Dark Gray */
    --accent-color2: rgba(34, 34, 34, 0.9); /* Transparent Dark Gray */
    --accent-color3: rgba(238, 238, 238); /* Darker white */
    --accent-color4: rgba(238, 238, 238, 0.9); /* Transparent Darker White */
    --table-color1: rgb(139, 40, 40);
    --table-color2: rgb(139, 65, 65);
    --table-color3: rgb(139, 80, 80);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100px;
    height: auto;
}

a {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--accent-color2);
}

h1, h2 {
    font-family: "Times New Roman", Times, serif;
    color: var(--accent-color1);
    margin-top: 1rem;
}

h1 {
    text-align: center;
    color: var(--primary-color);
}

figure {
    text-align: center;
    align-self: flex-end;
}

table {
    margin: 3rem auto;
    border-collapse: collapse;
    border: 2px solid var(--primary-color);
    letter-spacing: 1px;
    font-size: 1.2rem;
    background-color: var(--table-color3);
}

th, td {
    padding: .2rem .5rem;
    border: 1px solid var(--accent-color2);
    text-align: center;
    color: var(--accent-color3);
}

thead th {
    background-color: var(--primary-color);
    color: var(--accent-color3);
}

.top-row th {
    background-color: var(--table-color1);
}

.left-column {
    background-color: var(--table-color2);
}

.level-end {
    border-bottom: 2px solid var(--accent-color2)
}

article {
    margin: auto;
    padding: .5rem .5rem 1rem;
    background-color: var(--secondary-color);
    text-align: center;
}

article a {
    margin: 1rem;
    padding: .4rem;
    border-radius: .2rem;
    background-color: var(--primary-color);
    color: var(--accent-color3);
}

article p {
    margin: 1rem 2rem;
    padding: 0;
}

nav, p, section {
    margin: 16px;
    padding: 8px;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 23rem 1fr;
    align-items: center;
    max-width: 1000px;
    border-bottom: 1px solid var(--accent-color2);
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 110px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    padding: 10px 20px;
    color: var(--accent-color3);
    background-color: var(--primary-color);
    border: 2px solid rgb(255, 255, 255);
}

footer {
    margin-top: 1rem;
    border-top: 1px solid var(--accent-color2);
    display: grid;
    grid-template-columns: 3fr 1fr;
}

footer p {
    margin: auto 3rem auto auto;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 0;
    margin-right: 0;
}

.socialmedia a {
    padding: 2px;
}

.socialmedia img {
    width: 32px;
}

.grid-title {
    margin: 3rem auto .5rem;
    text-align: center;
    font-size: 2.2rem;
}

.hero {
    position: relative;
    margin-bottom: 3rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    margin: 0;
    padding: 16px;
    text-align: center;
    opacity: .8;
    background-color: var(--secondary-color);
    color: var(--accent-color2);
}

.hero article {
    position: absolute;
    margin: 0 1.25rem;
    bottom: 0px;
    width: 800px;
    text-align: center;
    background-color: var(--primary-color);
    color: var(--accent-color4);
}

.hero article img {
    float: right;
    width: 90px;
    padding-left: 10px;
}

.hero article p {
    margin: 1.5rem;
    padding: 0;
}

.contact {
    display: flex;
    flex-direction: row;
}

.contact iframe {
    width: 360px;
    height: 22.75rem;
    margin: .5rem;
}

.contact form {
    margin: 0 2rem;
}

.contact textarea {
    width: 100%;
    padding: 5px;
}

.contact button {
    width: 100%;
}

button {
    padding: .5rem;
    border: none;
    background-color: var(--primary-color);
    color: var(--accent-color3);
    font-size: 1rem;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--accent-color2)
}

.user {
    display: grid;
    grid-template: repeat(2, 1fr) / 1fr 4fr;
    gap: .2rem;
}

.user label {
    margin: .5rem 0;
}

.message-purpose {
    margin: 1.5rem 0;
    display: grid;
    grid-template: repeat(3, 1fr) / 1fr 4fr;
    border: none;
}

.message-purpose p {
    grid-row: span 3;
    margin: auto 0;
    padding: 0;
}

.message-purpose div {
    margin: .2rem 0;
}

.checkbox {
    width: 100%;
    margin: .8rem 0;
}

.employees figure {
    margin: 0 .5rem;
    padding: .6rem;
    border-radius: .3rem;
}

.employees figcaption {
    border-radius: .3rem;
    color: var(--accent-color1);
    font-size: 1.1rem;
}

.newsletter {
    margin: 0 .5rem;
    padding: 0 1rem;
    border: 1px solid var(--accent-color2);
    border-radius: .3rem;
}

.newsletter button {
    width: 4rem;
    margin: 1rem auto 0;
    display: block;
    border-radius: .2rem;
}

.columns {
    margin: 1.5rem auto;
}

.columns h2, h3 {
    text-align: center;
}

.columns img {
    margin: 0 auto;
    align-self: center;
}

.columns p {
    margin: 0;
    padding: 0;
}

.columns-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.columns-1 p {
    text-align: center;
}

.columns-1 img {
    width: 360px;
}

.columns-2 {
    display: grid;
    grid-template: 1fr / repeat(2, 1fr);
    gap: 1rem;
}

.columns-2 h2 {
    margin: 1rem;
    text-align: center;
}

.columns-3 {
    display: grid;
    grid-template: 3rem 2fr / 3fr 4fr 3fr;
    gap: .5rem;
}

.columns-3 h2 {
    grid-column: span 3;
}

.columns-3 img {
    width: 240px;
}

.columns-3 article {
    margin: 1.5rem .5rem;
    padding: .5rem;
    border-radius: .5rem;
}

.columns-5 {
    display: grid;
    grid-template: 3rem 2fr / repeat(5, 1fr);
}

.columns-5 h2 {
    grid-column: span 5;
}

.columns-5 img {
    width: 150px;
}

.columns-3x2 {
    margin: .5rem auto 3rem;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(2, 1fr);
    gap: .5rem;
    border: 2px solid var(--primary-color);
    border-radius: .8rem;
}

.columns-3x2 img {
    width: 90%;
}

.text-chunk {
    margin: auto 1.5rem;
}

.text-chunk h3 {
    margin: .5rem;
    padding: .2rem;
    background-color: var(--primary-color);
    color: var(--accent-color3);
    border-radius: .5rem;
}

.text-chunk p {
    text-align: center;
}