:root {
    --primary-color: darkred; /* Dark Red */
    --secondary-color: rgb(225, 195, 100); /* Light Tan */
    --accent-color1: #222; /* Dark Gray */
    --accent-color2: #222222e5; /* Less Dark Gray */
    --heading-font: "Times New Roman", Times, serif;
    --body-font: Arial, Helvetica, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    width: 100px;
    height: auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--accent-color1);
}

figure {
    text-align: center;
    align-self: flex-end;
}

body {
    font-family: var(--body-font);
    color: var(--accent-color2);
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}

header, main, footer {
    width: 840px;
    margin: 0 auto;
}

header {
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 23rem 1fr;
    align-items: center;
    max-width: 1000px;
    border-bottom: 1px solid var(--accent-color2);
}

header img {
    margin: 0 0.25rem 0 1rem;
    width: 110px;
    height: auto;
}

.navigation {
    display: flex;
    list-style: none;
    font-size: 1.1rem;
}

.navigation li {
    flex: 1 1 auto;
}

.navigation a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border: 2px solid #fff;
}

footer {
    border-top: 1px solid var(--accent-color2);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-content: center;
}

footer p {
    margin: auto 0;
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    margin-bottom: 3rem;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: .8;
    background-color: var(--secondary-color);
}

.hero article {
    position: absolute;
    bottom: -16px;
    right: 4px;
    width: 800px;
    text-align: center;
    opacity: .85;
    background-color: var(--primary-color);
    /* color: #eeeeeee9; */
    color: var(--secondary-color);
}

.hero article img {
    float: right;
    width: 90px;
    padding-left: 10px;
}

.columns-3 {
    margin: 1rem auto 3rem;
    display: grid;
    grid-template: 3rem 2fr / 3fr 4fr 3fr;
}

.columns-3 h2 {
    grid-column: span 3;
    text-align: center;
}

.columns-3 img {
    width: 240px;
    margin: 0 auto;
    align-self: center;
}

.columns-3 p {
    margin: 0;
    padding: 0;
}

.columns-5 {
    margin: 1rem auto 3rem;
    display: grid;
    grid-template: 3rem 2fr / repeat(5, 1fr);
}

.columns-5 h2 {
    grid-column: span 5;
    text-align: center;
}

.columns-5 img {
    width: 150px;
    margin: 0 auto;
    align-self: center;
}

.columns-5 p {
    margin: 0;
    padding: 0;
}