:root {
    --primary-color: darkblue;
    --shadow-color: gray;
    --img-width: 150px;
    --border-width: 1px;
    --shadow-h-offset: 0;
    --shadow-v-offset: 0;
    --shadow-blur: 30px;
}

nav {
    background-color: var(--primary-color, darkblue);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

img {
    width: var(--img-width);
    height: auto;
    border: var(--border-width, 1px) solid black;
    padding: 2px;
    box-shadow: var(--shadow-h-offset, 0) var(--shadow-v-offset) var(--shadow-blur) var(--shadow-color, gray);
}

main {
    max-width: 840px;
}

main img {
    width: var(--img-width);
    height: auto;
    border: var(--border-width, 1px) solid rgb(0 0 0 / 0.45);
    padding: 0;
    box-shadow: var(--shadow-h-offset, 0) var(--shadow-v-offset) var(--shadow-blur) var(--shadow-color, gray);
}

aside {
    width: 20rem;
    margin: 1rem;
    border: var(--border-width, 1px) solid rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 15px;
    border-top: var(--border-width, 1px) solid black;
    text-align: center;
}

h1 {
    color: var(--primary-color, darkblue);
}

p {
    padding: 0;
}
